@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

h1 {
  font: 48px Montserrat, sans-serif;
  padding: 20px 0px;
}

h6 {
    font-family: Montserrat, sans-serif;
    font-size: 72px;
}

p {
  font: 14px Open Sans, sans-serif;
  font-size: 1vw;
  display: inline-block;
  padding-right: 400px;
  width: 800px;
}

a {
    text-decoration: none;
    color: #eaeaea;
    -webkit-transition: All 0.25s ease;
    -moz-transition: All 0.25s ease;
    -o-transition: All 0.25s ease;
    -ms-transition: All 0.25s ease;
}

a:hover, a:focus {
    text-shadow:0 0 4px #eaeaea;
}

.logo {
  font-family:Montserrat,sans-serif;
  padding-bottom: 30px;
}

.text {
  padding: 50px 100px;
  text-align: left;
}

.button {
  color: white;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  padding: 20px 20px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: all 0.5s ease 0s;
}

.button:hover {
    background-color: #eaeaea;
    color: black;
    text-shadow:none;
}

.button2 {
  color: black;
  border: 2px solid #000000;
}

.button2:hover {
    background-color: #000000;
    color: white;
}


.gallery {
  padding-left: 100px;
  width: 900px;
}


#top, #about, #photo, #video, #design, #software, #contact{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

#top {
  background-image: url("../img/desktop.jpg");
}

#about {
  background-image: url("../img/repeat.jpg");
  background-size: auto;
  background-repeat: repeat;
  min-height: 450px;
}

#software {
  background-image: url("../img/software.jpg");
}

#photo {
  background-image: url("../img/repeat2.jpg");
  background-size: auto;
  background-repeat: repeat;
}

#video {
  background-image: url("../img/video.jpg");
}

#design {
  background-image: url("../img/design.jpg");
}

#contact {
  background: #111111;
  color: #eaeaea;
  min-height: 400px;
}

#title {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 50px 70px;
    color: #FFFFFF;
}

#sidebar {
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;

    padding: 80px;
    padding-left: 40px;
    padding-right: 10px;
    width: 150px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: right;
    font-size: 32px;
    font-family: Nunito Sans, "Segoe UI", sans-serif;
}

#links {
    position: relative;
    top: 100px;
    padding: 0 20px;
}

@media (max-width: 1200px) and (max-height: 2000px) and (orientation: portrait){
    p {
      font-size: 14px;
      padding-right: 0px;
      width: auto;
    }
    h1 {
      font-size: 36px;
      padding-top: 50px;
      padding-bottom; 20px;
    }
    img {
      width: 80px;
    }
    .logo {
      display:none;
    }
    .text {
      padding: 20px 20px;
      text-align: center;
      padding-right: 20px;
    }
    .gallery {
      width: auto;
    }
    #software {
        background-image: url("../img/mobile/design.jpg");
    }

    #video {
        background-image: url("../img/mobile/video.jpg");
        color: #eaeaea;
    }
    #sidebar {
        font-size: 24px;
        font-size: 4vw;
        position: fixed;
        display: inline;

        top: 1;
        bottom: 0;
        right: 0;
        left:0;

        padding: 0;
        width: 100%;
        height: 40px;
        text-align: center;
    }
}
