* {
  box-sizing: content-box;
  box-shadow: none;
  height: auto;
  width: auto;
  max-height: none;
  max-width: none;
  min-height: none;
  min-width: none;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  visibility: visible;
  border: medium none initial;
  border-width: medium;
  border-style: none;
  border-color: initial;
  border-bottom: medium none initial;
  border-bottom-color: initial;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-left: medium none initial;
  border-left-color: initial;
  border-left-style: none;
  border-left-width: medium;
  border-right: medium none initial;
  border-right-color: initial;
  border-right-style: none;
  border-right-width: medium;
  border-top: medium none initial;
  border-top-color: initial;
  border-top-style: none;
  border-top-width: medium;
  border-image: none 100% 1 0 stretch;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: auto;
  left: auto;
  right: auto;
  top: auto;
  clear: none;
  position: relative;
  float: none;
  z-index: auto;
  block-size: auto;
  border-block-end: medium none currentColor;
  border-block-end-color: currentColor;
  border-block-end-style: none;
  border-block-end-width: medium;
  border-block-start: medium none currentColor;
  border-block-start-color: currentColor;
  border-block-start-style: none;
  border-block-start-width: medium;
  border-inline-end: medium none currentColor;
  border-inline-end-color: currentColor;
  border-inline-end-style: none;
  border-inline-end-width: medium;
  border-inline-start: medium none currentColor;
  border-inline-start-color: currentColor;
  border-inline-start-style: none;
  border-inline-start-width: medium;
  inline-size: auto;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  max-block-size: 0;
  max-inline-size: 0;
  min-block-size: 0;
  min-inline-size: 0;
  offset-block-end: auto;
  offset-block-start: auto;
  offset-inline-end: auto;
  offset-inline-start: auto;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  align-content: stretch;
  align-items: stretch;
  align-self: auto;
  flex: 0 1 auto;
  flex-basis: auto;
  flex-direction: row;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: flex-start;
  order: 0;
  /* ========================================================================== */
  background: initial;
  background-attachment: scroll;
  background-blend-mode: normal;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: auto;
  color: initial;
  opacity: 1;
  /* ========================================================================== */
  border-collapse: separate;
  border-spacing: 0;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;
  vertical-align: baseline;
  grid: none none none auto auto row 0 0;
  grid-template-rows: none;
  grid-template-columns: none;
  grid-template-areas: none;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: row;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-area: auto auto auto auto;
  grid-row-start: auto;
  grid-column-start: auto;
  grid-row-end: auto;
  grid-column-end: auto;
  break-after: auto;
  break-before: auto;
  break-inside: auto;
  columns: auto;
  column-count: auto;
  column-width: auto;
  column-fill: balance;
  column-gap: normal;
  column-span: none;
  column-rule: initial;
  column-rule-width: medium;
  column-rule-style: none;
  column-rule-color: initial;
  counter-increment: none;
  counter-reset: none;
  list-style: disc outside none;
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: none;
  /* ========================================================================== */
  animation: none 0s ease 0s 1 normal none running;
  animation-name: none;
  animation-duration: 0s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  backface-visibility: visible;
  perspective: none;
  perspective-origin: 50% 50%;
  transform: none;
  transform-box: border-box;
  transform-origin: 50% 50% 0;
  transform-style: flat;
  transition: 0s 0s all ease;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: ease;
  /* ========================================================================== */
  font: normal normal normal normal medium normal "Open Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: normal;
  line-height: normal;
  hanging-punctuation: none;
  hyphens: manual;
  letter-spacing: normal;
  line-break: auto;
  overflow-wrap: normal;
  tab-size: 8;
  text-align: start;
  text-align-last: auto;
  text-indent: 0;
  text-justify: auto;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  text-decoration: none;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-emphasis: none;
  text-emphasis-color: currentColor;
  text-emphasis-position: over right;
  text-emphasis-style: none;
  text-shadow: none;
  text-underline-position: auto;
  direction: ltr;
  text-combine-upright: none;
  text-orientation: mixed;
  unicode-bidi: normal;
  writing-mode: horizontal-tb;
  /* ========================================================================== */
  cursor: auto;
  outline: initial none medium;
  outline-color: initial;
  outline-style: none;
  outline-width: medium;
  outline-offset: 0;
  resize: none;
  text-overflow: clip;
  content: '';
  quotes: initial;
  orphans: 2;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  marks: none;
  widows: 2;
  backdrop-filter: none;
  filter: none;
  image-orientation: 0deg;
  image-rendering: auto;
  image-resolution: normal;
  object-fit: fill;
  object-position: 50% 50%;
  mask: none;
  mask-origin: border-box;
  mask-clip: border-box;
  mask-composite: add;
  mask-image: none;
  mask-mode: match-source;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: auto;
  mask-type: luminance;
  clip: auto;
  display: inline-block;
  ime-mode: auto;
  nav-index: auto;
  nav-down: auto;
  nav-left: auto;
  nav-right: auto;
  nav-up: auto;
  text-rendering: auto;
}
h1,
h2,
h3,
p,
.btn-black,
.btn-white,
.btn-clear {
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
  margin: 0;
  padding-top: 1em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.3em;
  text-align: left;
  padding-bottom: 0.5em;
}
/*Button Section*/
.btn-black,
.btn-white,
.btn-clear {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 3em;
  border-radius: 3em;
}
.btn-black {
  background-color: #333333;
  color: #ffffff;
  transition: background .3s;
}
.btn-white {
  background-color: #ffffff;
  color: #333333;
  transition: background .3s;
}
.btn-black:hover,
.btn-white:hover {
  background: #117bff;
  color: #ffffff;
  cursor: pointer;
  transition: background .5s;
}
.btn-clear {
  background-color: transparent;
  color: #ffffff;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.15);
  transition: border-color 0.3s;
}
.btn-clear:hover {
  border-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.5s;
}
/* Side-Menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;
  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}
.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-left: 25px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
}
.icon-menu i {
  margin-right: 5px;
}
/* Home Grid Jumbotron Section */
.jumbotron {
  background: url("img/backgrounds/test.gif");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0.5em;
  padding-bottom: 50em;
  text-align: center;
}
.jumbotron .container-inner {
  text-align: center;
  padding: 1em;
  min-width: 100em;
}
.jumbotron .container-grid {
  padding-left: 30em;
  padding-right: 30em;
}
.jumbotron .grid-col {
  float: left;
  width: 33%;
  text-align: center;
  padding-top: 6em;
}
.jumbotron img {
  height: 6em;
  opacity: 0.5;
}
.jumbotron img:hover {
  opacity: 1;
}
.jumbotron h1 {
  color: #ffffff;
  text-align: center;
}
/* About Me Section */
.about .container-content {
  text-align: left;
  height: 26em;
  padding-left: 3em;
  padding-right: 3em;
  min-width: 100em;
}
.about .container-big {
  float: left;
  width: 65%;
}
.about .container-small {
  float: left;
  width: 35%;
  height: 26em;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.about .left {
  justify-content: flex-start;
}
.about .right {
  justify-content: flex-end;
}
.about .container-small img {
  height: 20em;
}
.about .container-icons img {
  height: 3em;
}
.about .about-section-1 {
  background: url("img/backgrounds/gradient-blue.png");
  background-size: cover;
}
.about .about-section-1 h2,
.about .about-section-1 p {
  color: #ffffff;
}
.about .about-section-2 {
  background: url("img/backgrounds/city.png");
  background-size: cover;
  background-attachment: fixed;
}
.about .about-section-2 h2,
.about .about-section-2 p {
  color: #333333;
}
.about .about-section-3 {
  background: url("img/backgrounds/gradient-purple.png");
  background-size: cover;
}
.about .about-section-3 h2,
.about .about-section-3 p {
  color: #ffffff;
}
/* Portfolio Section */
.portfolio {
  background: #000000;
  height: 50em;
}
.portfolio .container-inner {
  text-align: center;
}
.portfolio .container-dividers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .container-divider {
  padding-left: 3em;
  padding-right: 3em;
  width: 25%;
  float: left;
}
.portfolio h2 {
  color: #ffffff;
  text-align: center;
}
.portfolio p {
  color: #ffffff;
}
/* Contact Me Section */
.contact {
  background: #5e42a6;
  height: 100%;
}
.contact .container-inner {
  padding-left: 3em;
  padding-right: 3em;
}
.contact .split {
  display: flex;
  vertical-align: baseline;
}
.contact .split.style1 > :nth-child(2n - 1) {
  display: block;
  width: calc(64.66666%);
  padding-right: 2em;
  border-right: solid 1px rgba(255, 255, 255, 0.15);
}
/* Box Model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  margin: 0 0 2em 0;
}
form .field {
  margin: 0 0 1em 0;
}
form .field.half {
  width: 50%;
  float: left;
  padding: 0 0 0 0.75em;
}
form .field.half.first {
  padding: 0 0.75em 0 0;
}
form > .actions {
  margin: 2em 0 0 0 !important;
}
@media screen and (max-width: 736px) {
  form .field.half {
    width: 100%;
    float: none;
    padding: 0;
  }
  form .field.half.first {
    padding: 0;
  }
}
label {
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  display: block;
  font-size: 1.1em;
}
input[type="text"],
textarea {
  height: 2.75em;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
input[type="text"]:focus,
textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}
/*Footer Section*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  padding-left: 50px;
}
