html, body {
  margin: 0;
  padding: 0;
}

body {
  left: 0px;
  position: relative;
}

/*Jumbotron Section*/
.jumbotron {
  background: url("img/background.png");
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 950px;
}

.jumbotron .container {
  max-width: 700px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.jumbotron .col {
  float: left;
  width: 33%;
  text-align: center;
  padding-top: 100px;
}

.jumbotron img {
  height: 100px;
  opacity: 0.5;
}

.jumbotron img:hover {
  opacity: 1;
}

.jumbotron h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 70px;
}

/*Main Body Section*/
.main {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.main h1 {
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  padding-top: 100px;
}

.main p {
  text-align: left;
  font-weight: 300;
  font-size: 24px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 20px;
}

/*About Me Section*/
.main .about {
  background: url("img/city.png") center;
  height: 100%;
}

.main .about h1 {
  color: #333333;
}

/*My Story Section*/
.main .myStory {
  background: #000000;
  height: 100%;
}

.main .myStory h1 {
  color: #ffffff;
}

.main .myStory p {
  color: #ffffff;
}

/*Contact Me Section*/
.main .contact {
  background: #ffffff;
  height: 100%;
}

.main .contact h1 {
  color: #333333;
}

.main .contact a {
  margin-left: 20px;
  margin-right: 20px;
}

/*Button Section*/
.btn-black {
  background-color: #333333;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-black:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}

.btn-white {
  background-color: #ffffff;
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-white:hover {
  background: #117bff;
  color: #ffffff;
  cursor: pointer;
  transition: background .5s;
}

/*Footer Section*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  padding-left: 50px;
}

/* Initial menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-left: 25px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
}

.icon-menu i {
  margin-right: 5px;
}
