// main: main.less

// Coding Section Styles
#coding {
    header {
        position: absolute;
        width: 100%;
        max-width: ~"calc(100vw - 200px)";
        text-align: center;
        margin: 5vh 0;
        z-index: 2;

        h1 {
            font-size: 3em;
            margin: 0 0.5rem 0 0;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
       }

       .fragment {
            margin: 0 auto;
            text-align: left;
       }

       #fragment1 {
            width: 0;

            &.start {
                animation:
                    typeDream 2s steps(5, end) 0s,
                    blink-caret .75s step-end infinite;
           }
       }
       #fragment2 {
            width: 0;

            &.start {
                animation:
                    typeCareer 2s steps(6, end) 2.5s,
                    blink-caret .75s step-end infinite;
           }
       }
       #fragment3 {
            &.start {
                width: 0;

                animation:
                    typePassion 2s steps(7, end) 5s,
                    blink-caret .75s step-end infinite;
           }
       }
    }

    .half {
        text-align: center;
        padding: 25% 4% 0 4%;
        height: 100vh;

        &.left {
            background: #771191;
        }

        &.right {
            background: #4B3696;
        }

        h2.major {
            margin-left: auto;
            margin-right: auto;
        }

        p {
            text-align: left;
        }

        button {
            margin: 20px 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    #coding {
        header {
            width: 100%;
            max-width: 100vw;
        }

        .half {
            padding-top: 200px;
        }
    }
}
