html, body {
  margin: 0;
  padding: 0;
}

/*Main Body Section*/
.main {
  background: #000000;
}

.main .container {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 200px;
}

.main h1 {
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  padding-top: 100px;
  text-align: center;
}

.main p {
  font-weight: 300;
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;
}

/*Button Section*/
.btn-white {
  background-color: #ffffff;
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  margin-left: 100px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-white:hover {
  background: #117bff;
  color: #ffffff;
  cursor: pointer;
  transition: background .5s;
}

/*Footer Section*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  padding-left: 50px;
}
