html, body {
  margin: 0;
  padding: 0;
  background: #000000;
}

/*Gallery Section*/
.gallery {
  background: #000000;
}

.gallery img {
  width: 33.1%;
  display: inline;
  text-align: center;
  opacity: 0.5;
}

.gallery img:hover {
  opacity: 1;
}

/*Gallery 2 Section*/
.gallery2 {
  background: #000000;
}

.gallery2 img {
  width: 13.99%;
  display: inline;
  text-align: center;
  opacity: 0.5;
}

.gallery2 img:hover {
  opacity: 1;
}

/*Main Body Section*/
.main {
  background: #000000;
}

.main .container {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 200px;
  text-align: center;
}

.main h1 {
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  padding-top: 100px;
  text-align: center;
}

.main p {
  font-weight: 300;
  font-size: 24px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 20px;
}

/*Button Section*/
.btn-white {
  background-color: #ffffff;
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-white:hover {
  background: #117bff;
  color: #ffffff;
  cursor: pointer;
  transition: background .5s;
}

/*Footer Section*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  padding-left: 50px;
}

/* Carousel */
.slider-main {

}

.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
}

.slide {
  background: #000000;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide h1 {
  color: #ffffff;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  font-size: 100px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide h2 {
  color: #ffffff;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide h3 {
  color: #bbbbbb;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  font-size: 30px;
  margin: 5px;
  margin-top: 5%;
}

.slide p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  text-align: right;
}

.slide-feature {
  background: url("../img/portfolio/html/cover.png") no-repeat;
  background-size: cover;
  text-align: center;
}

/* Slide navigation bar */
.slider-nav {
  text-align: center;
  margin-top: 20px;
  background: #000000;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #222222;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #ffffff;
}
