<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway: 300, 600' type='text/css'>
    <link rel='stylesheet' href='pageStyle.css'/>
  </head>

  <body>
    <div class="gallery2">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/reddit1.png"></a>
            <a href=""><img src="../img/portfolio/art/reddit2.png"></a>
            <a href=""><img src="../img/portfolio/art/Poster2015Fall.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
          </div>
          <div class="col">
            <a href=""><img src="../img/portfolio/art/lots.png"></a>
            <a href=""><img src="../img/portfolio/art/Poster2015Fall2.png"></a>
            <a href=""><img src="../img/portfolio/art/Shirt2015Spring.png"></a>
            <a href=""><img src="../img/portfolio/art/Shirt2015Fall.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
          </div>
          <div class="col">
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
          </div>
          <div class="col">
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
            <a href=""><img src="../img/portfolio/art/placeholder.png"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="source">
        <div class="container">
          <h1>THIS IS JUST SOME OF IT</h1>

          <p>Before I got into coding, I was really big into digital illustration, concept art, graphic design, and photography. Kind of still am a big art geek but it's backburner compared to my new coding passion.</p>

          <p>I occasionally draw as part of my hobbies and will continue to upload my work onto my GitHub for storage and safekeeping.</p>
          </br>
          </br>
          </br>
          </br>
          </br>
          <a class="btn-white" href="../index.html">Go Back to the Code</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>(c) James Lee</p>
      </div>
    </div>
  </body>
</html>
