<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway: 300, 600' type='text/css'>
    <link rel='stylesheet' href='pageStyle.css'/>
  </head>

  <body>
    <div class="gallery">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="http://vgdev.gtorg.gatech.edu/games/index.php?directGameLink=62"><img src="../img/portfolio/games/system.png"></a>
            <a href="http://vgdev.gtorg.gatech.edu/games/index.php?directGameLink=59"><img src="../img/portfolio/games/package.png"></a>
            <a href="http://vgdev.gtorg.gatech.edu/games/index.php?directGameLink=60"><img src="../img/portfolio/games/warrior.png"></a>
          </div>
          <div class="col">
            <a href="http://vgdev.gtorg.gatech.edu/games/index.php?directGameLink=55"><img src="../img/portfolio/games/legends.png"></a>
            <a href="http://vgdev.gtorg.gatech.edu/games/index.php?directGameLink=51"><img src="../img/portfolio/games/crash.png"></a>
            <a href="http://vgdev.gtorg.gatech.edu/games/index.php?directGameLink=62"><img src="../img/portfolio/games/system2.png"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="source">
        <div class="container">
          <h1>SEE FOR YOURSELF</h1>

          <p>These are game projects that I joined through the VGDev (videogame development) student organization.</p>

          <a class="btn-white" href="http://vgdev.gtorg.gatech.edu/games/index.php?withDev=191">Look at cool stuff!</a>
          </br>
          </br>
          </br>
          </br>
          </br>
          <a class="btn-white" href="../index.html">Nah, I want to check out more stuff</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>(c) James Lee</p>
      </div>
    </div>
  </body>
</html>
