<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oswald:400,300'>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css">
    <link rel="stylesheet" href="pageStyle.css">
  </head>
  <body>
    <div class="slider">

        <div class="slide slide-feature active-slide">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>THIS IS IT</h1>
                        <h3>My website IS my experience with HTML. Explore it to your liking to see all I've learned and done.</h3>
                        <h3>Have fun :D</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>Still Learning...</h2>
                        <p>I'm applying it as I go. HTML5, CSS3, and JavaScript is still a whole new can of peanut brittle for me open. And hopefully, snakes don't explode in my face. In the future, I'll upgrade my website with new features while using my newfound knowledge.</p>
                    </div>
                    <div class="col-xs-7">
                        <img src="../img/portfolio/html/trio.png" width="540px">
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>Getting to Know Bootstrap</h2>
                        <p>It's the way to go. Bootstrap is a very useful, responsive HTML/CSS/JS template for mobile first web projects. I want to eventually learn every aspect of it by studying its files and how it all ties together. And when I finally understand how it works, I will use it as my site's framework.</p>
                    </div>
                    <div class="col-xs-7">
                        <img src="../img/portfolio/html/bootstrap.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-nav">
        <a href="#" class="arrow-prev"><img src="../img/portfolio/html/arrow-prev.png"></a>
        <ul class="slider-dots">
            <li class="dot active-dot">&bull;</li>
            <li class="dot">&bull;</li>
            <li class="dot">&bull;</li>
        </ul>
        <a href="#" class="arrow-next"><img src="../img/portfolio/html/arrow-next.png"></a>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <a class="btn-white" href="../index.html">Go Back to Home Page</a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="html.js"></script>
  </body>
</html>
