<header>
    <h1>Code is a Passion</h1>
</header>

<article class="half left">
    <h2 class="major">Projects</h2>

    <div class="container_items">
        <div class="item">Python</div>
        <div class="item">C</div>
    </div>

    <button class="black" onclick="visitPage('#coding', '.coding');">
        Learn More
    </button>
</article>

<article class="half right">
    <h2 class="major">VGDev</h2>

    <div class="container_items">
        <div class="item">Photoshop</div>
        <div class="item">Illustrator</div>
    </div>

    <button class="black" onclick="visitPage('#design', '.design');">
        Learn More
    </button>
</article>
