<header>
    <h1>This is Me</h1>
</header>

<article class="half left">
    <h2 class="major">Programmer</h2>

    <div class="container_items">
        <div class="item">Python</div>
        <div class="item">C</div>
        <div class="item">C#</div>
        <div class="item">Java</div>
        <div class="item">Android Studio</div>
        <div class="item">HTML</div>
        <div class="item">CSS</div>
        <div class="item">LESS</div>
        <div class="item">Javascript</div>
        <div class="item">jQuery</div>
        <div class="item">SQL</div>
        <div class="item">LaTeX</div>
    </div>

    <button class="black" onclick="visitPage('#coding', '.coding');">
        Learn More
    </button>
</article>

<article class="half right">
    <h2 class="major">Designer</h2>

    <div class="container_items">
        <div class="item">Photoshop</div>
        <div class="item">Illustrator</div>
        <div class="item">PremierePro</div>
        <div class="item">AfterEffects</div>
        <div class="item">Blender</div>
        <div class="item">Digital Illustration</div>
        <div class="item">Graphic Design</div>
    </div>

    <button class="black" onclick="visitPage('#design', '.design');">
        Learn More
    </button>
</article>
