<header>
    <h1>Code is a </h1>
    <h1 id="fragment1" class="fragment">Dream</h1>
    <h1 id="fragment2" class="fragment">Career</h1>
    <h1 id="fragment3" class="fragment">Passion</h1>
</header>

<article class="half left">
    <h2 class="major">My Vision</h2>

    <div class="container">
        <p>
            Coding is like playing with LEGOs. It's a medium, a channel
            for expression, creation, and innovation. I see a whole new
            world that is limited to my own imagination (and today's
            computation). It's full of rules and possibilities to create
            solutions to real-world problems. So I want to keep playing,
            to make something that can help others and do something awesome.
        </p>

        <p>
            I've kept track of my school assignments in Georgia Tech,
            and have some personal projects of my own. If you want see
            some of that, here's my GitHub.
        </p>
    </div>

    <button class="button black" onclick="location.href='https://github.com/zehro'">
        <span class="icon fa-github"></span>
        Github
    </button>
</article>

<article class="half right">
    <h2 class="major">VGDev</h2>

    <div class="container">
        <p>
            I also make videogames with some other cool nerds. Check it
            out!
        </p>

        <div class="vgdev_carousel">
            <div class="item">
                <img src="static/images/vgdev/analog.png"></img>
            </div>
            <div class="item">
                <img src="static/images/vgdev/crash.png"></img>
            </div>
            <div class="item">
                <img src="static/images/vgdev/snake.png"></img>
            </div>
            <div class="item">
                <img src="static/images/vgdev/space.png"></img>
            </div>
            <div class="item">
                <img src="static/images/vgdev/rangers.png"></img>
            </div>
            <div class="item">
                <img src="static/images/vgdev/system.png"></img>
            </div>
        </div>
    </div>

    <button class="button black" onclick="location.href='https://vgdev.gtorg.gatech.edu/profile/JamesLee/'">
        VGDev
    </button>
</article>
