<header>
    <h1>Who I Am</h1>
</header>

<article>
    <p class="text">
        I'm not one to monologue, especially about myself. If you
        want the short version, I'll describe myself in three words.
        Artistic. Punny. And I forgot the last one.
    </p>

    <p class="text">
        However if you must know more about me, I love pasta, think
        HK-47 is the best companion, have a box full of bubble wrap
        for rainy days, and enjoy playing Dungeons & Dragons. I
        think I'm weird, but who isn't? I think what sets me apart
        from many others are my bad puns. A good joke can make
        anyone laugh once, but a really bad pun can make everyone
        cringe forever.
    </p>

    <p class="text">
        Coding is amazing, but I grew up with drawing. I wanted to
        study Digital Illustration at the Savannah College of Art
        and Design. However, since it had no HOPE (the scholarship,
        ba-dum-tsh), Georgia Tech became my future and broadened my
        horizon with programming, 3D modeling, animation, and more
        than I could ever imagine. Whenever videos are rendering or
        I'm not dying from assignments/lack of sleep, I dabble in
        creating random stuff.
    </p>
</article>
