<header>
    <h1>Design is My Art</h1>
</header>

<article>
    <p class="text">
        Design is not just about making things look nice. It's a way of thinking,
        a set of principles that can guide people. For me, it's an art, a craft
        where I can show everyone how to use things and understand anything. It's
        one thing to express what I envision, but it's an entirely different
        challenge to communicate with others. Regarding UX, I believe the key is
        to not think, to promote seamless interaction and grasp people's intuition.
        I'm no expert, but I'd like to think that I'm good at design.
    </p>

    <div class="art"></div>

    <p class="text">
        Beyond graphic design and front-end development, I also draw and try to be
        creative or something.
    </p>

    <div class="art"></div>

    <div class="container">
        <div class="half left">
            <h2 class="major">2D Art</h2>

            <p class="description">
                I mostly do stuff on Photoshop and Illustrator. I
                haven't been able to do much since my tablet was
                stolen, but I still try to make content for VGDev
                and for fun.
            </p>

            <div class="container">
                <div class="item">
                    <img src="static/images/art/2D/drawing.png"></img>
                </div>
                <div class="item">
                    <img src="static/images/art/2D/sprites.png"></img>
                </div>
            </div>
        </div>
        <div class="half right">
            <h2 class="major">3D Work</h2>

            <p class="description">
                So... Blender has the learning curve of a thousand
                suns, but I still try to learn it since it's free.
                I have worked with Maya and other programs, but I
                believe they're all amazing with enough practice.
            </p>

            <div class="container">
                <div class="item">
                    <img src="static/images/art/3D/blender.png"></img>
                </div>
                <div class="item">
                    <img src="static/images/art/3D/unity.png"></img>
                </div>
            </div>
        </div>
    </div>
</article>
