<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway: 300, 600' type='text/css'>
    <link rel='stylesheet' href='pageStyle.css'/>
  </head>

  <body>
    <div class="gallery">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="https://github.com/zehro/GT-Classes/blob/master/CS-1301/Homeworks/hw0/face.py"><img src="../img/portfolio/python/hw0.png"></a>
            <a href="https://github.com/zehro/GT-Classes/blob/master/CS-1301/Homeworks/hw4/hw4.py"><img src="../img/portfolio/python/hw4.png"></a>
            <a href="https://github.com/zehro/GT-Classes/tree/master/CS-1301/Homeworks/hw8"><img src="../img/portfolio/python/hw8.png"></a>
          </div>
          <div class="col">
            <a href="http://www.cc.gatech.edu/classes/AY2015/cs4475_summer/projects/cartoonFilter/index.html"><img src="../img/portfolio/python/project1.png"></a>
            <a href="http://www.cc.gatech.edu/classes/AY2015/cs4475_summer/projects/faceOverlays/project2.html"><img src="../img/portfolio/python/project2.png"></a>
            <a href="../res/project3_final.mp4"><img src="../img/portfolio/python/project3.png"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="source">
        <div class="container">
          <h1>SEE FOR YOURSELF</h1>

          <p>The source code of these projects and more is on my GitHub. </p>

          <a class="btn-white" href="https://github.com/zehro/GT-Classes">Let's Go There!</a>
          </br>
          </br>
          </br>
          </br>
          </br>
          <a class="btn-white" href="../index.html">Nah, I want to check out more stuff</a>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>(c) James Lee</p>
      </div>
    </div>
  </body>
</html>
